.colored-line {
  background: #f25454;
}
.colored-text {
  color: #f25454 !important;
}
.color-bg {
  background: #f25454;
}
a {
  color: #f25454;
}
.non-sticky .navbar-nav > li > a:hover {
  color: #f25454;
}
.standard-button {
  background: #f25454;
  color: #ffffff;
}
.standard-button:hover {
  color: #ffffff;
  background: #e64646;
}
.secondary-button:hover {
  color: #f25454;
  border-color: #f25454;
}
.sticky-navigation .main-navigation .current a {
  color: #f25454 !important;
}
.sticky-navigation .navbar-nav > li > a:hover {
  color: #f25454;
}
.feature-list-1 li .icon-container {
  background: #f25454;
}
.feature-list-2 li .icon-container {
  background: #f25454;
}
.feature .icon {
  color: #f25454;
}
.vertical-registration-form .input-box {
  border-top: 1px solid rgba(242, 84, 84, 0.4);
  border-bottom: 1px solid rgba(242, 84, 84, 0.4);
  border-right: 1px solid rgba(242, 84, 84, 0.4);
  border-left: 3px solid #f25454;
}
.vertical-registration-form .input-box:focus,
.vertical-registration-form .input-box:active {
  border-color: #f25454;
}
.subscription-form .input-box:focus,
.subscription-form .input-box:active {
  border-left: 3px solid #f25454 !important;
}
.input-box:active,
.textarea-box:active,
.input-box:focus,
.textarea-box:focus {
  border-left: 3px solid #f25454 !important;
}
.screenshots .owl-theme .owl-controls .owl-page span {
  background: #f25454;
}
.contact-link {
  color: #f25454;
}
.contact-link:hover {
  color: #e64646;
}
.social-icons li a:hover {
  color: #f25454;
}
