/*@charset "UTF-8";*/
/**
 * 
 * @authors OX(Ou TakashiMine) (ox@ooxx.dk)
 * @date    2015-05-20 13:30:07
 * @version $Id$
 */
html {overflow-x: hidden}
* {
	box-sizing: border-box;
	/*transition: all .5s;*/
}
@keyframes scale {
    0%{
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
     
    }
    50%{
        -webkit-transform: scale(1.15);
        -moz-transform: scale(1.15);
        -ms-transform: scale(1.15);
        transform: scale(1.15);
    }
    100%{
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes rotation {
    0%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
     
    }
    50%{
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes hunting {
    0%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
     
    }
    50%{
        -webkit-transform: rotate(-25deg);
        -moz-transform: rotate(-25deg);
        -ms-transform: rotate(-25deg);
        transform: rotate(-25deg);
    }
    100%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
body {
	position: relative;
	box-sizing: border-box;
	padding-top: 80px;
	margin: 0;
	color: #fff;
	line-height: 1.5em;
	background-image: url('../img/bg.jpg');
	background-size: cover;
	/*background-position: 0% 0%;*/
	background-attachment: fixed;
	background-repeat: no-repeat;
	overflow: hidden;
	/*           1%          OS X                    Win 8+                Vista ~ Win7 */
	font-family: 'DengXian', 'Heiti TC', 'Heiti SC', 'Microsoft Yahei UI', 'Microsoft Yahei', 'Hiragino Sans GB', 'Roboto', 'Droid Sans Fallback'
}
body#about {
	background-image: url('../img/aboutbg.jpg');
}
a {
	/*color: #b3c9df;*/
	color: #999;
	text-decoration: none;
	/*border-bottom: dashed 1px;*/
	transition: all .5s;
}
footer a {
	color: #999;
}
footer a:hover, footer a:focus {
	color: #fff;
}
h1 {
	text-align: center;
	margin-top: 8px;
}
h2 {
	text-align: center;
}
h4 {
	/* margin-left: 2em; */
	color: #CCC;
}
header, section.content , footer {
	width: 80%;
	min-width: 320px;
	margin: 0 auto;
	clear: both;
}
.wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    z-index: -1;
}
#top-bar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px;
	padding: 0 10vw;
	background-color: rgba(0,0,0,1);
	font-size: 0;
	z-index: 99;
	transition: background-color .8s;
	transition: all .8s;
}
#top-bar.magic-change {
	/*background-color: rgba(255,255,255,1);*/
	/*background-color: transparent;*/
	background-color: rgba(0,0,0,.8);
	/*background-image: -webkit-linear-gradient(top, rgba(0,0,0,1), transparent);*/
	/*opacity: 0.3;*/
	transition: background-color .8s;
}
#top-bar.magic-change:hover {
	/*opacity: 1;*/
	background-color: rgba(0,0,0,.8);
	/*color: #fff;*/
}
#top-bar.magic-change span:hover {
	/*color: #333;*/
/*	background-color: rgba(0,0,0,.8);
	color: #fff;
*/}
#top-bar.magic-change.page {
	background-color: rgba(255,255,255,1);
}
#top-bar.magic-change.page span {
	color: #333;
}
#top-bar-logo, #top-nav {
	/*display: inline-block;*/


}
#top-bar-logo {
	float: left;
	padding-top: 10px;
	margin-right: 45px;
}
#top-nav {
	height: 80px;

}
#top-nav nav ul {
	font-size: 0;
	height: 80px;
}
#top-nav ul a {
	display: inline-block;
	padding: 0 3%;
	height: 80px;
	border: none;
	transition: all 0.3s;
}

#top-nav ul a:hover, #top-nav ul a:focus {
	/*background-color: rgba(0,0,0,.1);*/
	border-bottom: solid 5px #fff !important;
	/*opacity: .8*/
}
#top-nav ul a:hover span, #top-nav ul a:focus span {
	/*color: #000;*/
	color: #fff;
}
nav ul li {
	display: inline-block;
	list-style: none;
	text-align: center;
	/* height: 80px; */
}

.nav-span-zh, .nav-span-en {
	display: block;
	color: #fff;
}
.nav-span-zh {
	font-size: 1rem;
	margin-top: 18px;

}
.nav-span-en {
	font-size: 12px;
}
header {
	/*min-height: 100vh;*/
}
#about header {
    padding: 2em;
    /* background-color: #fff; */
    width: 100%;
    /*color: #333;*/
    color: #fff;
}
hgroup {
	text-align: center;
	margin-top: calc( 50vh - 140px );
}
#about hgroup {
	margin-top: 2em;
}
#about .content {
	padding-top: 0;
}
#header-join-game {
	width: 20%;
	min-width: 200px;
	max-width: 500px;
	line-height: 45px;
	text-align: center;
	margin: 0 auto;
	border: solid 1px #fff;
	border-radius: 2px;
	color: #fff;
	/*background-color: rgba(255,255,255,.3);*/
	cursor: pointer;
	transition: all .5s;
}

#header-join-game:hover, #header-join-game:focus {
	background-color: rgba(255,255,255,1);
	color: #10171F;
	opacity: .8;
}
.index-section-introductions {
	background-color: #fff;
}
.index-introductions {
	width: 80%;
	margin: 0 auto;
	background-color: #fff;
	color: #333;
	padding: 25px 18px;
	font-size: 0;
	margin-top: calc( 25vh + 140px );
}
.index-introductions li {
	list-style: none;
	width: 25%;
	display: inline-block;
	vertical-align: top;
	padding: 0 5px;
	text-align: center;
	/*box-sizing: ;*/
}
.index-introductions li:before {
	font-size: 56px;
	text-align: center;
	transition: all .5s;
}
.index-introductions h3 {
	font-size: 15px;
	text-align: center;
}
.index-introductions p {
	font-size: 12px;
	line-height: 1.7em;
	text-indent: 2em;
}

section.index-section-introductions > ul > li:nth-child(1):hover:before, section.index-section-introductions > ul > li:nth-child(1):focus:before {
	color: #c14c47;
	animation: scale .5s 2 ease-in-out;
}
section.index-section-introductions > ul > li:nth-child(2):hover:before, section.index-section-introductions > ul > li:nth-child(2):focus:before {
	color: #8e7dc1;
	animation: rotation 2s infinite linear;
}
section.index-section-introductions > ul > li:nth-child(3):hover:before, section.index-section-introductions > ul > li:nth-child(3):focus:before {
	color: #5bc175;
	animation: rotation 5s infinite ease-in-out;
}
section.index-section-introductions > ul > li:nth-child(4):hover:before, section.index-section-introductions > ul > li:nth-child(4):focus:before {
	color: #a5af27;
	animation: hunting 1s infinite ease-in;
}
section.content {
    /*background-color: rgba(255, 255, 255, 0.95);*/
	
    padding: 1em 5em 3em 2em;
    /* background-color: #FFF; */
	
    /* background-image: linear-gradient(45deg, rgba(250, 251, 255, .3) 25%, transparent 25%, transparent 75%, rgba(250, 251, 255, .3) 75%, rgba(250, 251, 255, .3)),   linear-gradient(45deg, rgba(250, 251, 255, .3) 25%, transparent 25%, transparent 75%, rgba(250, 251, 255, .3) 75%, rgba(250, 251, 255, .3)); */

    /* background-size: 60px 60px; */
	
    /* background-position:0 0, 30px 30px; */
    /*color: #3A3A3A;*/
    color: #fff;
    /*text-shadow: 0px 0px 3px #FFF;*/
}
section.content p {
	margin-left: 4em;
	line-height: 2em;
	text-indent: 2em;
	text-shadow: 0 0 2px #333;
}
footer {
	/*position: absolute;*/
	/*bottom: 0;*/
	width: 100%;
	padding: 20px 0;
	/*margin-top: 30px;*/
	background-color: #333;
	font-size: 0;
	text-align: center;
}
#footer-left {
	width: 11%;
	min-width: 165px;
	/*min-width: */
	display: inline-block;
	/* padding: 0 0 0 55px; */
	vertical-align: middle;
}
.footer-title {
	font-size: 14px;

}
footer h4 {
	margin: 0;
}
footer p {
	font-size: 11px;
	color: #999
;margin: 0;
}
footer p span {
	padding: 2px 5px 1px 5px;
	color: #CCC;
	background-color: #999;
	color: #333;
}
#footer-right {
	/* width: 30%; */
	min-width: 250px;
	display: inline-block;
	border-left: solid 1px #999;
	padding-left: 15px;
	text-align: left;
	vertical-align: middle;
	font-size: 12px;
	color: #999;
}
#footer-right ul {
	padding: 0;
	margin: 0;
}
#footer-right > ul > li {
	list-style: none;
}
#footer-right ul li ul {
	margin-left: 33px;
}
#footer-center-a {
	/* width: 40%; */
	min-width: 650px;
	display: inline-block;
	border-left: solid 1px #999;
	padding: 0 15px 0 15px;
	text-align: left;
	vertical-align: middle;
}
#footer-center {
	text-align: center;
	/* vertical-align: middle; */
	margin-top: 20px;
}
.sns-small li {
	margin-left: 15px;
}
.sns-small li:nth-child(1) {
	margin-left: 0;
}
.sns-small a {
	padding: 0;
	border: none;
}
#footer-center > div.div-right > nav ul li {
	font-size: 13px;
	color: #999;
}

#footer-center > div.div-right > nav ul li:hover, #footer-center > div.div-right > nav ul li:focus {
	color: #fff;
}
#footer-center > div.div-right > nav ul li i {
	font-size: 15px;
	margin: 5px;
}
i.icon-bubbles {}
.div-left, .div-right {
	display: inline-block;
	/* width: 50%; */
	vertical-align: middle;
}
.copyright {
	font-size: 13px;
}
#ox {
	opacity: .6;
}
#ox > i.icon-heart:hover {
	animation: scale .3s 17 ease-in-out;
}
@media screen and (max-width: 1280px) {
	header, section.content {
		width: 90%;
	
		padding: 3em;
	}
}
@media screen and (max-width: 768px) {
	header, section.content {
		width: 95%;
	
		padding: 1em;
}
	.index-introductions li {
		width: 50%;
	}

}
@media screen and (max-width: 600px) {
	body {
		padding-top: 150px;
	}
	#top-bar {
		position: absolute;
		top: 5px;
		padding: 0 5px;
		text-align: center;
		background-color: transparent;
	}
	#top-bar-logo {
		float: none;
	}
	#top-nav ul {
		padding: 0;
	}
	header, section.content {
		width: 90%;
		padding: 1em;
	}
}
@media screen and (max-width: 480px) {
	.index-introductions li {
		width: 100%;
	}
	h4 {
		margin-left: 0;
	}
	section.content p {
		margin-left: 0;
	}
	#footer-left, #footer-right {
		width: 100%;
	}
	#footer-right {
		border: none;
	}
}




