/* Aditional styles */

.index {
    background: url("../img/mcindex1.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.lead {
    min-height: 40em;
    padding: 100px 20px 0px;
}

h1.lead-text {
    font-size: 3.5em;
    color: #ffffff;
    font-weight: 500;
}

.lead-text {
    color: #ffffff;
}

.serverip {
    display: block;
    background-color: rgb(0, 140, 186);
    text-decoration: none;
    text-align: center;
    font-family: "Source Code Pro","Menlo",Consolas,"Liberation Mono",Courier,monospace;
    font-size: 2em;
    padding: 1.0625rem 2rem 1rem;
    color: rgb(255, 255, 255);
    border: medium none;
    font-weight: bold !important;
}

.itemblock {
    display: inline-block;
    background-color: #f2f2f2;
    padding: 0.3em 0 0.3em 0;
    margin: 0 0 1em 0;
    width: 100%;
    height: 7em;
}

.item-block-right {
    margin: 0 -1em 0 !important;
    float: left !important;
}

.gallery {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
}