/* Aditional styles */


.lead {
    background: url("../img/mcindex1.png") no-repeat 0% 0%;
    background-size: cover;
    min-height: 40em;
    padding: 100px 20px 0px;
}

h1.lead-text {
    font-size: 3.5em;
    color: #ffffff;
    font-weight: 500;
}

h3, h4, h5, .lead-text {
    color: #ffffff;
}

.serverip {
    display: block;
    background-color: rgb(0, 140, 186);
    text-decoration: none;
    text-align: center;
    font-family: "Source Code Pro","Menlo",Consolas,"Liberation Mono",Courier,monospace;
    font-size: 2em;
    padding: 1.0625rem 2rem 1rem;
    color: rgb(255, 255, 255);
    border: medium none;
    font-weight: bold !important;
}