@charset "UTF-8";
/**
 * 
 * @authors Nyato - OX (ox@nyato.com)
 * @date    2016-03-09 22:49:33
 * @version 1.0
 */

* {
    padding: 0;
    margin: 0;
    font-family: Lato, "Helvetica Neue", "Roboto", "Open Sans", "Noto Sans", "Source Han Sans SC", "WenQuanYi Microhei", "Hiragino Sans GB", "Microsoft Yahei", "Droid Sans Fallback", sans-serif;
}

code, kbd, pre, samp {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

@font-face {
    font-family: 'nyaacat';
    src:    url('../fonts/nyaacat.eot?cuhhaf');
    src:    url('../fonts/nyaacat.eot?cuhhaf#iefix') format('embedded-opentype'),
        url('../fonts/nyaacat.ttf?cuhhaf') format('truetype'),
        url('../fonts/nyaacat.woff?cuhhaf') format('woff'),
        url('../fonts/nyaacat.svg?cuhhaf#nyaacat') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'nyaacat' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
    content: "\f002";
}
.icon-envelope-o:before {
    content: "\f003";
}
.icon-heart:before {
    content: "\f004";
}
.icon-star:before {
    content: "\f005";
}
.icon-star-o:before {
    content: "\f006";
}
.icon-check:before {
    content: "\f00c";
}
.icon-cog:before {
    content: "\f013";
}
.icon-gear:before {
    content: "\f013";
}
.icon-globe:before {
    content: "\f0ac";
}
.icon-chain:before {
    content: "\f0c1";
}
.icon-link:before {
    content: "\f0c1";
}
.icon-square:before {
    content: "\f0c8";
}
.icon-envelope:before {
    content: "\f0e0";
}
.icon-terminal:before {
    content: "\f120";
}
.icon-code:before {
    content: "\f121";
}
.icon-check-square:before {
    content: "\f14a";
}
.icon-apple:before {
    content: "\f179";
}
.blur {
	-webkit-filter: blur(15px);
	-webkit-transform: scale(1.2,1.2);
}

body {
	/*background-image: url(../img/background.png);*/
	background-size: cover;
	color: #555;
	transiton: all .7s;
}
header {
	position: fixed;
	z-index: 2;
	height: 80px;
}
section {
	background-color: white;
}
h4 {
	margin: 4rem auto;
	font-size: 2.2rem;
	text-align: center;
	font-weight: normal;
}
h5 {
	font-size: 1.2rem;
	font-weight: normal;
}
.main {
	transition: all 1s;
}
#section-0 {
    background-color: transparent;
    background-image: url(../img/dot.png), url(../img/background.jpg);
    background-repeat: repeat;
    background-size: 30px, cover;
}
#section-0 hgroup {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
  	color: white;
  	text-shadow: 0 0 5px #000;
  	text-align: center;
}
/*修复奇怪的BUG*/
hgroup {
	padding: 10px;
}
hgroup h2 {
	font-size: 1.8rem;
	font-weight: normal;
	margin: 1rem auto;
}
hgroup h3 {
	font-size: 1.5rem;
	font-weight: normal;
	margin: .5rem auto;
}
hgroup h3 small {
	display: inline-block;
	font-size: 1.2rem;
	font-weight: normal;
	margin: .8rem auto;
}
hgroup hr {
	width: 10%;
        margin: auto;
}
#learn-more {

}
#learn-more:hover #btn-learn-more {
	opacity: 1;
}
#btn-learn-more {
	display: inline-block;
	width: 100px;
	background-color: #89acd8;
	color: white;
	opacity: .8;
	transition: opacity .7s;
	text-decoration: none;
	text-shadow: none;
	padding: .8rem 2.5rem;
	margin: 2rem auto;
	vertical-align: middle;
}
#learn-more:before {
	content: " ";
	background-image: url('../img/{.png');
	height: 48px;
	right: -5px;
	transition: all .7s;
	visibility: hidden;
}
#learn-more:after {
	content: " ";
	background-image: url('../img/}.png');
	height: 48px;
	left: -5px;
	transition: all .7s;
	visibility: hidden;	
}
#learn-more:hover:before {
	right: 15px;
}
#learn-more:hover:after {
	left: 15px;
}
#learn-more:before, #learn-more:after {
	position: relative;
    display: inline-block;
    background-color: transparent;
    height: 48px;
    overflow: hidden;
    width: 14px;
    background-size: cover;
    vertical-align: middle;
}
#btn-learn-more:hover, #btn-learn-more:focus {
	opacity: 1;
}
.section-content {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
  	text-align: center;
}
.section-content h4 {
	/*margin-top: 0;*/
}
.section-content a {
	color: #88abda;
}
#section-1 {
	text-align: center;
}
#section-1 p {
	width: 80%;
	font-size: 1.1rem;
	line-height: 2.5rem;
	margin: 2rem auto;
}
.content-img {
	max-width: 100%;
	margin: .5rem;
}
#section-2 {
	/*font-size: 0;*/
	text-align: center;
}
#section-2 h5:before, #section-2 h5:after {
	content: "—";
	margin: 0 5px;
}
#section-2 .section-content {
	width: 80%;
	margin: 0 auto
}
#section-2 .section-content ul, #section-2 .section-content p {
	padding-left: 0;
	/*padding-left: 40px;*/
	/*text-align: left;*/
	line-height: 1.8rem;
}
#section-2 .section-content li em {
	font-style: normal;
	font-size: 1.3rem;
}
#section-2 div.left, #section-2 div.right {
	display: inline-block;
	font-size: .9rem;
	vertical-align: top;
}
#section-2 div.left {
	/*width: 20%;*/
	width: 78px;
	text-align: right;
}
#section-2 div.right {
	width: 60%;
}
#section-2 div.right p {
	padding-left: 40px;
	margin-top: 0;
	line-height: 1.8rem;
	text-align: left;
}
#section-2 div.right ul {
	margin-top: 0;
}
#section-2 div.right li {
	text-align: left;
	line-height: 1.8rem;
}
#section-2 div.right li em {
	font-style: normal;
	font-size: 1.3rem;
}
#section-2 ul {
	list-style: none;
}
#section-2 h5 {
	margin-top: 0;
	margin-bottom: 1rem;
	/*text-align: left;*/
}
#vrcomefrom {
	list-style: inherit !important;
    list-style-type: square !important;
}
#vrcomefrom li {
	float: left;
    margin: .3rem .3rem .3rem 1.5rem;
}
#section-3 {}
#section-3 div.left, #section-3 div.right {
	display: inline-block;
	text-align: left;
	vertical-align: top;
}
#section-3 div.left {
	width: 30%;
	/*min-width: 320px;*/
}
#section-3 div.right {
	width: 50%;
}
.ul-checked-list {
	line-height: 1.8rem;
}
.partners-ul {
	text-align: center !important;
}
.partners-ul li {
	display: inline-block;
	/*width: 	11.1111%;*/
	width: 	10%;
	padding: 0 20px;
}
.section-content {
	overflow: hidden;
}
.partners-ul li img {
	width: 100%;
	height: auto;
	vertical-align: middle;
	opacity: .5;
	transition: all .7s;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}
.partners-ul li img:hover, .partners-ul li img:focus {
	opacity: 1;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: none;
}
.ul-checked-list {
	list-style: none;
	text-align: left;
	padding-left: 1.5em;
}
#mail {
	text-align: left;
	background-color: white;
    padding: 1em;
    box-shadow: 0 0 3px #ccc;
    border: 1rem solid transparent;
    background: linear-gradient(white, white) padding-box,
                repeating-linear-gradient(-45deg, rgb(255, 94, 94) 0, rgb(255, 94, 94) 12.5%, transparent 0, transparent 25%, 
            	#58a 0, #58a 37.5%, transparent 0, transparent 50%) 0 / 6em 6em;
    
}
#mail ul {
	padding: 1.3rem;
	margin: 0;
	overflow: h;
}
#mail li {
	position: relative;
	list-style: none;
	font-size: .9rem;
	color: #888;
	line-height: 1.8rem;
}
#mail li span {
	position: absolute;
	display: inline-block;
	/* background-color: #fafafa; */
	/* border-bottom: dotted; */
	content: #555;
	font-size: 1rem;
	padding: .2rem .5rem;
	left: 80px;
	width: 100%;
}
#mail ol li {
	font-size: 1rem;
	list-style: 2.3rem;
        margin-left: 1rem;
}
.ul-checked-list li:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'nyaacat' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f00c";
    margin-right: 5px;
}
ul.nav {
	margin: 0;
	height: 80px;
}
li.nav {
	display: inline-block;
	color: white;
	text-shadow: 0 0 5px #000;
}
header {
	width: 100%;
	background-color: rgba(255,255,255,.9);
	box-shadow: 0 0 5px rgba(0,0,0,.1);
	transition: all .5s;
}
header * {
	display: inline-block;
	vertical-align: middle;
}
#header-logo {
	background-image: url('../img/logo/nyaacat.logo.b.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin: 10px 0 10px 20px;
	width: 60px;
	height: 60px;
	transition: all .7s;
}
.slider-on #header-logo {
	background-image: url('../img/logo/nyaacat.logo.w.png') !important;
}
#header-logo:hover, #header-logo:focus {
	opacity: .8;
}
#header-nav-ul {
	padding-left: 0;
}
#header-nav-ul li {
	padding: 0 1.2rem;
	line-height: 80px;
	text-shadow: none;
	color: #88abda;
	transition: color .3s .08s;
}
#header-nav-ul li:hover, #header-nav-ul li.selected {
	background-color: #88abda;
	color: #fff;
}
.viewing-page-1 {	
}
.viewing-page-1 header {	
	background-color: rgba(255,255,255,0);
	box-shadow: 0 0 5px rgba(0,0,0,0);
}
.viewing-page-1 #header-logo {	
	background-image: url('../img/logo/nyaacat.logo.w.png');
}
.viewing-page-1 #header-logo {
}
.viewing-page-1 #header-nav-ul {
	height: 80px;
}
.viewing-page-1 #header-nav-ul li {
	display: inline-block;
	line-height: 80px;
	color: #fff;
}
.viewing-page-1 #header-nav-ul li:hover, .viewing-page-1 #header-nav-ul li.selected {
	background-color: rgba(0,0,0,.6);
	border-radius: 3px;
}

footer {
	width: 100%;
	bottom: 0;
	margin: 2rem 0 1rem;
	background-color: white;
}
footer h6 {
	display: inline-block;
	font-size: .9rem;
}
footer h6 small {
	display: block;
	font-weight: normal;
}
footer div.right, footer div.left {
	vertical-align: middle !important;
}
footer div.left * {
	vertical-align: middle;
}
footer div.right {
	text-align: right !important;
	font-size: 13px;
}
footer div.right p {
	margin: 0;
    color: #999;
    font-size: 13px;
    margin-top: 5px;
}
footer div.right p a {
	text-decoration: none;
}
footer div.right p span {
    background-color: #999;
    color: white;
    padding: 2px 7px 2px 5px;
}
footer #footer-logo {
	width: 40px;
	height: 40px;
}
.disabled-onepage-scroll #section-0 {
	height: 100% !important;
}
.disabled-onepage-scroll .section {
	height: auto !important;
}
.disabled-onepage-scroll .section-content {
	position: inherit !important;
	top: auto !important;
	transform: none !important;
	margin-top: 5rem;
	margin-top: 3vh;
}
@media (max-width: 1140px) {
	html {
		font-size: 80%;
	}
}
@media (max-width: 740px) {
	header * {
		vertical-align: top;
	}
	.section-content > h4 {
		font-size: 1.6rem;
		margin-bottom: 1rem;
	}
}
@media (max-width: 780px) {
	.header-nav {
		/*display: none;*/
		background-color: #333;
	}
	#header-nav-ul a {
		display: block;
	}
	#header-nav-ul li {
	}
	hgroup h2 {
		font-size: 1.3rem;
		font-weight: 800;
	}
	hgroup h3 {
		font-size: 1.1rem;
	}
	#section-1 p {
		line-height: 2rem;
	}
	ul.nav {
		height: auto;
	}
	header {
		width: 0;
		height: 100%;
	}
	header * {
		display: block;
	}
	#header-logo {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9999;
	}
	.header-nav {
		height: 100% !important;
		width: 245px;
		padding: 0;
		padding-top: 80px;
		position: relative;
		left: -245px;
		/*left: -415px;*/
		transition: left .7s;
	}
	#header-nav-ul li {
		text-align: left;
		line-height: 80px !important;
	    box-sizing: border-box;
	    border-radius: 0 !important;
	}
	.header-nav.show {
		left: 0;
	}
	.header-nav.show li {
		width: 100%;
		color: #fff !important;
	}
	.main {
		transition: all .7s;
		left: 0;
	}
	.move-r {
		left: 225px;
		-webkit-filter: blur(5px);
	}
	#learn-more {
		z-index: 9999;
	}
	h4 {
		margin-top: 1.8rem !important;
	}
	#section-0 {
		height: 100% !important;
	}
	header {
		background-color: transparent;
	}
	hgroup {}
	.section-content {
		position: inherit;
		top: 0;
		transform: none;
	}
	.section {
		/*overflow: scroll;*/
		height: auto !important;
		position: inherit;

	}
	.partners-ul li {
		width: 15%;
	}
	.left, .right, footer div.right {
		width: 100% !important;
		text-align: center !important;
	}
	footer div.right {
		margin-bottom: 1rem;
	}
	.viewing-page-1 .ul-checked-list {
		text-align: center;
	}
	.viewing-page-1 #header-nav-ul li {
		padding: 0 1.2rem;
		line-height: 80px;
		text-shadow: 0 0 1px #333;
		/*color: #88abda;*/
		transition: color .3s .08s;
	}
	.viewing-page-1 #header-nav-ul li:hover, #header-nav-ul li.selected {
		background-color: #88abda;
		color: #fff;
	}
}
@media (max-width: 400px) {
	.partners-ul li {
		width: 35%;
		min-height: 70px;
	}

}
@media (max-width: 265px) {
	#mail li span {
		position: initial;
	}
	#mail ol {
		padding-left: 0;
	}

}
@media (max-height: 507px) {
	#header-nav-ul li {
		line-height: 50px !important;
	}
}
