* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 2.3em auto 0;
    line-height: 1.7em;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

.header {
    margin: 0 0;
}

.header .pure-menu {
    /*
    padding: 0.3em;
    */
    border: none;
}

.header .pure-menu li a {
    border-bottom: 2px none;
}

.header .pure-menu li a:hover,
.header .pure-menu li a:focus {
    background: none;
    border-bottom: 2px #0078e7 solid;
    color: #aaa;
}

.header .pure-menu li.pure-menu-selected a {
    border-bottom: 2px #0078e7 solid;
}

.content {
    height: 100%;
}

.content .content-ribbon {
    margin: 3em;
    border-bottom: 1px solid #eee;
}

.ribbon {
    background: #eee;
    text-align: center;
    padding: 2em;
    color: #999;
}
.ribbon h2 {
    display: inline;
    font-weight: normal;
}

.footer {
    background: #111;
    color: #666;
    text-align: center;
    padding: 1em;
    font-size: 80%;
}
